<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Home View</h1>
	<!-- need to define isAuthenticated -->
	<% if (!isAuthenticated) { %>
		<p>Not signed in</p>
		<a href="/login">Log in Here</a>
	<%} else {%>
		<%= user.username %>, is logged in
		<a href= "/logout"> Log out </a>
	<% } %>
	<a href="/signup"> Sign Up </a>
	
</body>
</html>