<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Login View</h1>
<!-- action will send back to where it came from by default, set method to POST -->
	<form action="" method="post">
		<!-- assign name to this property value name ie.
		request.body = {username: , password: }
		-->
		<input type="text" name="username" placeholder="username">
		<!-- command shift d -->
		<input type="text" name="password" placeholder="password">
		<input type="submit">
	</form>
</body>
</html>